/* .carousel-indicators li {
    display: inline-block;
    box-sizing: content-box;
    width: 8px;
    height: 8px;
    background: black;
    border: solid 3px white;
    border-color: rgba(255, 255, 255, 0.44);
    margin: 4px;
    border-radius: 15px;
} */