@font-face {
    font-family: "Gotham";
    src: url("/fonts/Gotham/GothamMedium_1.ttf");
}
@font-face {
    font-family: "Gotham-1";
    src: url("/fonts/Gotham/Gotham-Light.ttf");
}

@font-face {
    font-family: "Sukhumvit";
    src: url("/fonts/Sukhumvit/SukhumvitSet-Medium.ttf");
    src: url('/fonts/Sukhumvit/SukhumvitSet-Medium.ttf');

}



@font-face {
    font-family: "Exo2Light";
    src: url("/fonts/Exo2/Exo2-ExtraLight.ttf");
}

@font-face {
    font-family: "Exo2LightItalic";
    src: url("/fonts/Exo2/Exo2-Light.ttf");
}


@font-face {
    font-family: "Exo2Black";
    src: url("/fonts/Exo2/Exo2-Black.ttf");
}

/* menu */
@font-face {
    font-family: "Exo2";
    src: url("/fonts/Exo2/Exo2-SemiBold.ttf");
}

/* title */
@font-face {
    font-family: "Exo2Bold";
    src: url("/fonts/Exo2/Exo2-Bold.ttf");
}

/* detail */
@font-face {
    font-family: "Exo2Regular";
    src: url("/fonts/Exo2/Exo2-Regular.ttf");
    src: url('/fonts/Exo2/Exo2-Regular.ttf');
}

.text-gotham {
    font-family: "Exo2Bold" !important;
}

.text-gotham-detail {
    font-family: "Exo2Regular" !important;
}

.detail-gotham {
    font-family: "Exo2Regular" !important;
    /* font-weight: 600; */
}

.product-font {
    font-family: "Exo2Regular", "Nanum Gothic", Helvetica, Arial, sans-serif;
    font-weight: 600;
}

.center{
    text-align: center;
}